body {
    font-family: Arial;
    margin: 40px;
    background-color: #f2f2f2;
}

h1 {
    color: darkblue;
}

.warning {
    color: red;
    font-weight: bold;
}

button {
    padding: 10px;
    margin-top: 10px;
    background-color: darkblue;
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
}
