body {
    font-family: Arial;
    margin: 40px;
    background: #f2f2f2;
}

h1 {
    color: darkblue;
}

.warning {
    color: red;
    font-weight: bold;
}

button {
    margin: 5px;
    padding: 10px;
    background: darkblue;
    color: white;
    border: none;
    cursor: pointer;
}

img {
    margin-top: 20px;
    border-radius: 10px;
}
